body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.125rem;
    line-height: 1.6em;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px #805c49;
    padding: 1em;
    border-radius: 20px;
}


h1,h2{
    font-family: 'Ranchers', cursive;
    color: #805c49;
}

h1{
    font-size: 2.5rem;
    margin-bottom: 1em;
}

li{
    margin-bottom: 1em;
}

h2{
    margin-top: 2em;
}

